.statistics{
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;

    box-shadow: 3px 5px 20px 2px rgba(105, 111, 116, 0.491);

    background-color: white;

    width: 100%;
    max-width: 300px;
    margin: 40px auto;

    overflow: hidden;

    font-family: 'Inconsolata';
}

.title{
    padding: 15px;
}

.stat-list{
    display: flex;
    gap: 1px;

    width: 100%;

    
    padding: 0;
    margin: 0;

    list-style-type: none;
}
