.transaction-history {
  margin: 0 auto;

  border-radius: 10px;

  box-shadow: 3px 5px 20px 2px rgba(105, 111, 116, 0.491);

  background-color: white;

  width: auto;
  min-width: 500px;
  margin: 40px auto;

  overflow: hidden;

  font-family: 'Inconsolata';

  border-spacing: 10px;
  border-collapse: collapse;
}

.transaction-history th:not(:last-child),
.transaction-history td:not(:last-child) {
  border-right: 1px solid white;
}

.table-head {
  background-color: rgba(255, 111, 185, 0.7);
}

.table-head th {
  padding: 10px;
}
